@import "./modified-normalize";

.zero-padding {
  padding: 0px !important;
}

.zero-margin {
  margin: 0px !important
}

.zero-horizontal-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.full-width {
  width: 100% !important;
}
